@{
    ViewBag.Title = "Iniciar sesión";
}

<div class="formContainer">
    <form class="loginForm">
        <h1>Iniciar sesión</h1>

        <div class="control">
            <label>Nombre de usuario</label>
            <input />
        </div>

        <div class="control">
            <label>Contraseña</label>
            <span><input class="password" name="Contrasena" /></span>
        </div>

        <button>Login</button>
    </form>
</div>